<p>Hello Admin,</p>

<p>This is just to inform you that an exception was raised and rescued in the Depot app.</p>

<p>Error details:</p>
<hr>
<p>
<%= @error.message %>
</p>
</hr>

Regards,
Depot Monitor